<div class= "container">
  <nav class= "nav navbar">
    <div class="col-md-2">
      <h2> BUSTLE </h2>
    </div>

    <div class="col-md-10">
      <ul>
        <li><a href="#"> NEWS </a></li>
        <li><a href="#"> ENTERTAINMENT </a></li>
        <li><a href="#"> FASHION & BEAUTY </a></li>
        <li><a href="#"> LIFESTYLE </a></li>
        <li><a href="#"> BOOKS </a></li>
        <li><a href="#"> EXPLORE </a></li>
      </ul>
    </div>
  </nav>

  {{outlet}}
</div>
