<h1> News Stories</h1>
<div class="row">
  <div class="col-md-6">
    <div class="story image1">
      <h6>ENTERTAINMENT</h6>
    </div>
    <h3>Gwyneth's Daughter is Her Mini Me</h3>
    <hr>
    <h5 class="author">Kaitlin Stanford</h5>
  </div>
  <div class="col-md-6">
    <div class="story image2">
      <h6>LIFESTYLE</h6>
    </div>
    <h3>The Dreamiest Instagram Couple Got Married</h3>
    <hr>

    <p div="author"><span class="left"> Sara Levine</span> <span class ="right"> 30 minutes Ago </span></p>
  </div>
</div>
